<table class="table table-bordered">
	</tr>
		<td><%= @post.user.try(:email) %></td>
	</tr>
	</tr>
		<td><%= @post.title %></td>
	</tr>
	</tr>
		<td><%= @post.desc %></td>
	</tr>
</table>

<%= render 'posts/comments/form' %>
<%= render 'posts/comments/index', :comments => @post.comments %>


<%= link_to 'Edit', edit_post_path(@post), :class => "btn" if @post.user == current_user %> 
<%= link_to 'Back', posts_path, :class => "btn" %>
